In [1]:
import numpy as np
import pandas as pd
import pytest
import ipytest
#from outliers import find_outliers
ipytest.autoconfig()

In [2]:
import ipytest.magics

ModuleNotFoundError: No module named 'ipytest.magics'

In [11]:
#pip install ipytest.magics

ERROR: Could not find a version that satisfies the requirement ipytest.magics
ERROR: No matching distribution found for ipytest.magics
Note: you may need to restart the kernel to use updated packages.

In [4]:
%timeit?

In [3]:
%%run_pytest[clean] -qq

def find_outliers(data):
    """Find outliers in data, return indices of outliers"""
    out = data[(data - data.mean()).abs() > 2 * data.std()]
    return out.index


def gen_data(size, num_outliers):
    """Generate data in with size element containint num_outliers outliers.
    Returns the data and the outliers.
    """
    regular = np.random.randint(50, 60, size-num_outliers)
    low = np.random.randint(1, 10, num_outliers//2)
    high = np.random.randint(100, 110, num_outliers-len(low))

    data = np.concatenate([regular, low, high])
    np.random.shuffle(data)
    return pd.Series(data), pd.Series(np.concatenate([low, high]))


def test_bench_outliers(benchmark):
    size = 10_000  # Usual size of data
    num_outliers = 5  # Usual number of outliers
    data, expected = gen_data(size, num_outliers)
    indices = benchmark(find_outliers, data)
    outliers = data.loc[indices]
    assert set(expected) == set(outliers), 'bad result'

.                                                                                                                                                                                                           [100%]
================================================================================================ warnings summary =================================================================================================
../../../../../anaconda3/lib/python3.6/site-packages/_pytest/cacheprovider.py:428
  /home/dtewani/anaconda3/lib/python3.6/site-packages/_pytest/cacheprovider.py:428: PytestCacheWarning: cache could not write path /home/dtewani/Documents/Dushyen/Python/AI Python/Dush_py/.pytest_cache/v/cache/nodeids
    config.cache.set("cache/nodeids", sorted(self.cached_nodeids))

../../../../../anaconda3/lib/python3.6/site-packages/_pytest/stepwise.py:49
  /home/dtewani/anaconda3/lib/python3.6/site-packages/_pytest/stepwise.py:49: PytestCacheWarning: cache could not write path /home/dtewani/Documents/Dushyen/Python/AI Python/Dush_py/.pytest_cache/v/cache/stepwise
    session.config.cache.set(STEPWISE_CACHE_DIR, [])

-- Docs: https://docs.pytest.org/en/stable/warnings.html

--------------------------------------------- benchmark: 1 tests ---------------------------------------------
Name (time in ms)          Min     Max    Mean  StdDev  Median     IQR  Outliers       OPS  Rounds  Iterations
--------------------------------------------------------------------------------------------------------------
test_bench_outliers     1.6819  2.7325  2.4659  0.3309  2.5068  0.1726       1;1  405.5314       8           1
--------------------------------------------------------------------------------------------------------------

Legend:
  Outliers: 1 Standard Deviation from Mean; 1.5 IQR (InterQuartile Range) from 1st Quartile and 3rd Quartile.
  OPS: Operations Per Second, computed as 1 / Mean

In [4]:
%timeit?

In [6]:
import re


def stem(word):
    """Return stem of word

    >>> stem('working')
    'work'
    >>> stem('works')
    'work'
    """
    return re.sub(r'(s|ing)$', '', word)


def tokenize(text):
    """Split text to words, ignoring stop words."""
    tokens = []
    for tok in re.findall('[a-zA-Z]+', text):
        tok = tok.lower()
        tok = stem(tok)
        if tok not in stop_words:
            tokens.append(tok)
    return tokens


stop_words = {
    'a', 'able', 'about', 'across', 'after', 'all', 'almost', 'also', 'am',
    'among', 'an', 'and', 'any', 'are', 'as', 'at', 'be', 'because', 'been',
    'but', 'by', 'can', 'cannot', 'could', 'dear', 'did', 'do', 'does',
    'either', 'else', 'ever', 'every', 'for', 'from', 'get', 'got', 'had',
    'has', 'have', 'he', 'her', 'hers', 'him', 'his', 'how', 'however', 'i',
    'if', 'in', 'into', 'is', 'it', 'its', 'just', 'least', 'let', 'like',
    'likely', 'may', 'me', 'might', 'most', 'must', 'my', 'neither', 'no',
    'nor', 'not', 'of', 'off', 'often', 'on', 'only', 'or', 'other', 'our',
    'own', 'rather', 'said', 'say', 'says', 'she', 'should', 'since', 'so',
    'some', 'than', 'that', 'the', 'their', 'them', 'then', 'there', 'these',
    'they', 'this', 'tis', 'to', 'too', 'twas', 'us', 'wants', 'was', 'we',
    'were', 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why',
    'will', 'with', 'would', 'yet', 'you', 'your',
}

In [8]:
s='We will eincourage you to devlop the trhee great virures of a progammer , laziness, impatience'

In [9]:
%prun tokenize(s)

In [ ]:
#https://jakevdp.github.io/PythonDataScienceHandbook/01.07-timing-and-profiling.html

In [10]:
%%prun 
for _ in range(1000):
    tokenize(s)

In [3]:
df=pd.read_csv('linkedin/faster-pandas-2832038-main/Ch02/02_02/cart.csv')

In [4]:
df

  Customer         Item  Amount  Item Price
0     Rick         Wine      20      103.20
1    Morty  Almond Milk       1       10.04
2   Summer    Ice Cream       1        8.32
3     Beth         Comb       1        7.30
4    Jerry      Tequila       2       20.34

In [5]:
df['Item Price'] >10

0     True
1     True
2    False
3    False
4     True
Name: Item Price, dtype: bool

In [6]:
df['mask']=df['Item Price']>10

In [7]:
df

  Customer         Item  Amount  Item Price   mask
0     Rick         Wine      20      103.20   True
1    Morty  Almond Milk       1       10.04   True
2   Summer    Ice Cream       1        8.32  False
3     Beth         Comb       1        7.30  False
4    Jerry      Tequila       2       20.34   True

In [8]:
mask=df['Item Price']>10

In [9]:
df[mask]

  Customer         Item  Amount  Item Price  mask
0     Rick         Wine      20      103.20  True
1    Morty  Almond Milk       1       10.04  True
4    Jerry      Tequila       2       20.34  True

In [11]:
import sqlite3

In [12]:
conn=sqlite3.connect('linkedin/faster-pandas-2832038-main/Ch02/02_02/logs.db',detect_types=sqlite3.PARSE_DECLTYPES)

In [13]:
df=pd.read_sql('select * from logs',conn)
df.head()

,time,origin,method,path,status_code,size
0,1995-08-01 00:00:01,in24.inetnebr.com,GET,/shuttle/missions/sts-68/news/sts-68-mcc-05.txt,200,1839
1,1995-08-01 00:00:07,uplherc.upl.com,GET,/,304,0
2,1995-08-01 00:00:08,uplherc.upl.com,GET,/images/ksclogo-medium.gif,304,0
3,1995-08-01 00:00:08,uplherc.upl.com,GET,/images/MOSAIC-logosmall.gif,304,0
4,1995-08-01 00:00:08,uplherc.upl.com,GET,/images/USA-logosmall.gif,304,0

In [14]:
%%timeit
total=0
for _,row in df.iterrows():
    if row['status_code']>=400:
        total+=1

1.06 s ± 52.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
%%timeit
len(df[df['status_code']>=400])

393 µs ± 11.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [17]:
s=pd.Series(range(10_000))

In [18]:
%%timeit
s.max()

29.5 µs ± 1.99 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [19]:
%%timeit
max(s)

763 µs ± 51.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [19]:
pip install numexpr

Requirement already satisfied: numexpr in /home/dtewani/anaconda3/lib/python3.6/site-packages (2.6.8)
Requirement already satisfied: numpy>=1.7 in /home/dtewani/.local/lib/python3.6/site-packages (from numexpr) (1.18.5)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import lzma

In [23]:
with lzma.open('linkedin/faster-pandas-2832038-main/Ch03/03_01/log.txt.xz') as fp:
    lines=fp.readlines()

In [24]:
len(lines)

1000

In [26]:
%%timeit
df=pd.DataFrame.from_records(parse_line(line) for line in lines)

NameError: name 'parse_line' is not defined

In [31]:
df=pd.read_csv('linkedin/faster-pandas-2832038-main/Ch03/03_02/logs.csv.xz')

In [32]:
df.dtypes

origin         object
date           object
time           object
method         object
path           object
status_code     int64
size            int64
dtype: object

In [1]:
%%timeit
df['time'].nunique()

NameError: name 'df' is not defined

In [34]:
%%timeit
pd.to_datetime(df['time']).nunique()

236 ms ± 2.86 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [35]:
df['time_stamp']=pd.to_datetime(df['time'])

In [37]:
%%timeit
df['time_stamp'].nunique()

217 µs ± 635 ns per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [39]:
size=50000

In [40]:
df =pd.DataFrame({
    'a': np.random.randint(1,1000, size),
    'b' :np.random.randint(1,1000, size),
    'c':np.random.randint(1,1000, size)
})

In [44]:
%%timeit
total=0
for _,row in df.iterrows():
    total+=row.max()

4.3 s ± 83.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [48]:
%%timeit
df.apply(np.max,axis=1).sum()

1.99 s ± 80.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [46]:
total

0

In [49]:
%%timeit
df.apply(np.max,axis=1,raw=True).sum() ## raw=True It passes the data as numpy array

297 ms ± 8.43 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [50]:
conn=sqlite3.connect('linkedin/faster-pandas-2832038-main/Ch03/03_04/logs.db',detect_types=sqlite3.PARSE_DECLTYPES)

In [53]:
df=pd.read_sql('select * from logs', conn)

In [ ]:
with lzma.open('linkedin/faster-pandas-2832038-main/Ch03/03_01/log.txt.xz') as fp:
    lines=fp.readlines()

# Memory Usage

In [56]:
df=pd.read_csv('linkedin/faster-pandas-2832038-main/Ch05/05_02/taxi.csv.xz')

In [57]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [58]:
df.memory_usage()

Index                        128
VendorID                 3999992
tpep_pickup_datetime     3999992
tpep_dropoff_datetime    3999992
passenger_count          3999992
trip_distance            3999992
RatecodeID               3999992
store_and_fwd_flag       3999992
PULocationID             3999992
DOLocationID             3999992
payment_type             3999992
fare_amount              3999992
extra                    3999992
mta_tax                  3999992
tip_amount               3999992
tolls_amount             3999992
improvement_surcharge    3999992
total_amount             3999992
dtype: int64

In [59]:
df.memory_usage(deep=True)

Index                         128
VendorID                  3999992
tpep_pickup_datetime     37999924
tpep_dropoff_datetime    37999924
passenger_count           3999992
trip_distance             3999992
RatecodeID                3999992
store_and_fwd_flag       32999934
PULocationID              3999992
DOLocationID              3999992
payment_type              3999992
fare_amount               3999992
extra                     3999992
mta_tax                   3999992
tip_amount                3999992
tolls_amount              3999992
improvement_surcharge     3999992
total_amount              3999992
dtype: int64

In [60]:
mb=2**20

In [61]:
df.memory_usage(deep=True)/mb

Index                     0.000122
VendorID                  3.814690
tpep_pickup_datetime     36.239552
tpep_dropoff_datetime    36.239552
passenger_count           3.814690
trip_distance             3.814690
RatecodeID                3.814690
store_and_fwd_flag       31.471189
PULocationID              3.814690
DOLocationID              3.814690
payment_type              3.814690
fare_amount               3.814690
extra                     3.814690
mta_tax                   3.814690
tip_amount                3.814690
tolls_amount              3.814690
improvement_surcharge     3.814690
total_amount              3.814690
dtype: float64

In [62]:
df.memory_usage(deep=True).sum()/mb

157.35606956481934

In [63]:
df['total_amount'].max()

456.35

In [65]:
df['total_amount'].memory_usage(deep=True)/mb

3.8148117065429688

In [72]:
df['total_amt32']=df['total_amount'].astype('float32')

In [73]:
df['total_amt32'].memory_usage(deep=True)/mb

1.9074668884277344

In [74]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
total_amt32              float32
dtype: object

# Read in parts

In [ ]:
df=pd.read_csv('linkedin/faster-pandas-2832038-main/Ch05/05_02/taxi.csv.xz')

In [81]:
df=pd.read_csv('linkedin/faster-pandas-2832038-main/Ch05/05_02/taxi.csv.xz', usecols=['VendorID', 'total_amount'])

In [82]:
df

        VendorID  total_amount
0              1         11.15
1              1         10.80
2              1         14.30
3              1         13.43
4              1          3.80
...          ...           ...
499994         2          8.76
499995         2         13.56
499996         2         10.80
499997         2         75.67
499998         1         12.30

[499999 rows x 2 columns]

In [83]:
df=pd.read_csv('linkedin/faster-pandas-2832038-main/Ch05/05_02/taxi.csv.xz', usecols=['VendorID', 'total_amount'],chunksize=1000)

In [84]:
df

In [86]:
for df in pd.read_csv('linkedin/faster-pandas-2832038-main/Ch05/05_02/taxi.csv.xz', usecols=['VendorID', 'total_amount'],chunksize=10000):
    print(df.shape)

(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(10000, 2)
(9999, 2)

In [87]:
df=pd.read_csv('linkedin/faster-pandas-2832038-main/Ch05/05_02/taxi.csv.xz')

In [88]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag        object
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object