In [1]:
import pandas as pd
df=pd.read_csv("weather_data.csv")
df.shape
df.head
df.tail
df[2:5:1]  ## >=2 <5

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [6]:
df.day ## Day Column data
df.columns ## List of columns in a file

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [7]:
df['day']  ### Same as df.day
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [2]:
df[['day','event','windspeed']]  ## Select multiple columns

        day  event  windspeed
0  1/1/2017   Rain          6
1  1/2/2017  Sunny          7
2  1/3/2017   Snow          2
3  1/4/2017   Snow          7
4  1/5/2017   Rain          4
5  1/6/2017  Sunny          2

In [3]:
df[2:10:2]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
4  1/5/2017           32          4  Rain

In [4]:
df['temperature'].describe() #### Count, mean, standard deviation max min are printed for a single column

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [5]:
df.corr

<bound method DataFrame.corr of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [6]:
df[df.temperature==df.temperature.max()] ### Shows record having maximum temp

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [7]:
df.day[df.temperature==df.temperature.min()]

3    1/4/2017
Name: day, dtype: object

In [8]:
df.info

<bound method DataFrame.info of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [9]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
day            6 non-null object
temperature    6 non-null int64
windspeed      6 non-null int64
event          6 non-null object
dtypes: int64(2), object(2)
memory usage: 272.0+ bytes

In [10]:
df.mean

<bound method DataFrame.mean of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [15]:
df.std

<bound method DataFrame.std of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [63]:
df.max

<bound method DataFrame.max of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [64]:
df.min

<bound method DataFrame.min of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [65]:
df.count  ## how many not null columns

<bound method DataFrame.count of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [66]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [67]:
df=df.rename(columns={'event' :'status'})
df

        day  temperature  windspeed status
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [68]:
df.status=df.temperature.astype(float) ## change datatype

In [69]:
df

        day  temperature  windspeed  status
0  1/1/2017           32          6    32.0
1  1/2/2017           35          7    35.0
2  1/3/2017           28          2    28.0
3  1/4/2017           24          7    24.0
4  1/5/2017           32          4    32.0
5  1/6/2017           31          2    31.0

In [70]:
df.iloc[:,2] # 3rd column

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

In [13]:
df.iloc[:2,2] # 3rd column upto 2 record

0    6
1    7
Name: windspeed, dtype: int64

In [72]:
df.iloc[2:,2] # 3rd column  from 2 to all

2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

In [73]:
df.iloc[2:5,2] # 3rd column  from 2 to 5 row

2    2
3    7
4    4
Name: windspeed, dtype: int64

In [74]:
df.iloc[2:5] # all column  from 2 to 5 row

        day  temperature  windspeed  status
2  1/3/2017           28          2    28.0
3  1/4/2017           24          7    24.0
4  1/5/2017           32          4    32.0

In [75]:
df.loc[:,"status"]  #define column name for filter

0    32.0
1    35.0
2    28.0
3    24.0
4    32.0
5    31.0
Name: status, dtype: float64

In [76]:
df.loc[:,'day':"windspeed"]  #define column name for filter

        day  temperature  windspeed
0  1/1/2017           32          6
1  1/2/2017           35          7
2  1/3/2017           28          2
3  1/4/2017           24          7
4  1/5/2017           32          4
5  1/6/2017           31          2

In [77]:
#df['temperature']=31 set all values of temp to 31
df

        day  temperature  windspeed  status
0  1/1/2017           32          6    32.0
1  1/2/2017           35          7    35.0
2  1/3/2017           28          2    28.0
3  1/4/2017           24          7    24.0
4  1/5/2017           32          4    32.0
5  1/6/2017           31          2    31.0

In [78]:
f= lambda x : x**2

In [79]:
df['windspeed'] = df['windspeed'].apply(f)

In [80]:
df

        day  temperature  windspeed  status
0  1/1/2017           32         36    32.0
1  1/2/2017           35         49    35.0
2  1/3/2017           28          4    28.0
3  1/4/2017           24         49    24.0
4  1/5/2017           32         16    32.0
5  1/6/2017           31          4    31.0

In [81]:
filter_win=df['windspeed'] > 10

In [82]:
filter_win_new=df[filter_win]
filter_win_new

        day  temperature  windspeed  status
0  1/1/2017           32         36    32.0
1  1/2/2017           35         49    35.0
3  1/4/2017           24         49    24.0
4  1/5/2017           32         16    32.0

In [83]:
df

        day  temperature  windspeed  status
0  1/1/2017           32         36    32.0
1  1/2/2017           35         49    35.0
2  1/3/2017           28          4    28.0
3  1/4/2017           24         49    24.0
4  1/5/2017           32         16    32.0
5  1/6/2017           31          4    31.0

In [85]:
df['temperature'] > 30

0     True
1     True
2    False
3    False
4     True
5     True
Name: temperature, dtype: bool

In [86]:
df.temperature>30

0     True
1     True
2    False
3    False
4     True
5     True
Name: temperature, dtype: bool

In [94]:
df[(df['windspeed'] > 10) & (df['temperature'] > 30)]

        day  temperature  windspeed  status
0  1/1/2017           32         36    32.0
1  1/2/2017           35         49    35.0
4  1/5/2017           32         16    32.0

In [2]:
df['temperature'].max()

35

In [9]:
df['day'][df['event']=='Rain']

SyntaxError: invalid syntax (<ipython-input-9-b1da309109cd>, line 1)

In [11]:
df['day'][df['temperature']==df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [12]:
df['day'][df['temperature']==df['temperature'].min()]

3    1/4/2017
Name: day, dtype: object

In [15]:
df['day'][df['temperature']>=df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [19]:
df.loc[(df['temperature']<df['temperature'].max()) , ['temperature','day','windspeed']]

   temperature       day  windspeed
0           32  1/1/2017          6
2           28  1/3/2017          2
3           24  1/4/2017          7
4           32  1/5/2017          4
5           31  1/6/2017          2

In [20]:
df.loc[(df['temperature']==df['temperature'].max()), ['temperature']]

   temperature
1           35

In [21]:
df.windspeed.mean()

4.666666666666667

In [5]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny